
.icon-left-big:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */